@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;

  src:
    url("../fonts/ralewaybold.woff") format("woff"),
    url("../fonts/ralewaybold.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;

  src:
    url("../fonts/ralewaymedium.woff") format("woff"),
    url("../fonts/ralewaymedium.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-weight: 300;
  font-style: normal;

  src:
    url("../fonts/ralewayregular.woff") format("woff"),
    url("../fonts/ralewayregular.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-weight: 100;
  font-style: normal;

  src:
    url("../fonts/ralewaylight.woff") format("woff"),
    url("../fonts/ralewaylight.woff2") format("woff2");
}

body {
  min-width: 320px;
  font-size: 17px;
  font-style: normal;
  line-height: 27px;
  font-family: "Raleway" , Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 16px;
  font-weight: 200;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin: auto;
  padding: 16px 20px;
  width: 260px;
  background-color: inherit;
  transition: 0.3s ease;
  &:hover {
    color: #fdc426;
    border-color: #fdc426;
    background-color: inherit;
  }
  &:active {
    color: #7c7c7c;
  }
}
button,
input {
  font-family: inherit;
}
