.burger {
  position: absolute;
  padding: 11px;
  width: 15px;
  height: 15px;
  font-size: 0;
  top: 40px;
  right: 40px;
  z-index: 200;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline-color: transparent;
  @media #{$tablet} {
    display: none;
  }
  &:active {
    border: none;
  }
  @media #{$desktop} {
    top: 30px;
  }
}
.burger__layer,
.burger__layer::before,
.burger__layer::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  right: 0px;
  top: 10px;
  border-radius: 5px;
  height: 2px;
  width: 22px;
  background: #fff;
  transition: all 0.4s ease-in-out;
  @media #{$tablet} {
    transition: all 0.4s ease-in-out;
  }
}
.burger__layer::before {
  top: -6px;
  left: 0px;
}
.burger__layer::after {
  top: 6px;
  left: 0px;
}
.page-header__btn--closed .burger__layer {
  background-color: transparent;
}
.page-header__btn--closed .burger__layer,
.page-header__btn--closed .burger__layer::before,
.page-header__btn--closed .burger__layer::after {
  top: 5px;
}
.page-header__btn--closed .burger__layer::before {
  transform: rotate(45deg);
}
.page-header__btn--closed .burger__layer::after {
  transform: rotate(-45deg);
}
