.form {
  width: 100%;
  @media #{$tablet} {
    width: 60%;
    box-sizing: border-box;
    padding-left: 50px;
  }
  @media #{$big-desktop} {
    width: 70%;
  }
}
.form__input {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  transition: border 0.2s ease;
  &:hover {
    border: 1px solid #fdc426;
  }
}
.form__area {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  background-color: inherit;
  color: #fff;
  resize: none;
  margin-bottom: 30px;
  border: 1px solid #fff;
  transition: border 0.2s ease;
  &:hover {
    border: 1px solid #fdc426;
  }
}
.form__btn {
  width: 100%;
  background-color: #fdc426;
  font-weight: 600;
  border-color: #fdc426;
}
