.main-nav {
  height: 0;

    @media #{$mobile-only}
    {
      &--opened
      {
          height: 230px;
      }
      &--closed
      {
          height: 0px;
      }
        overflow: hidden;
        transition: height .5s ease;
    }
  @media #{$tablet} {
    height: auto;
    margin-left: auto;
  }
}
.main-nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
}
.main-nav__item {
  list-style: none;
  padding: 0;
  text-align: center;
  padding: 10px 0;
  @media #{$tablet} {
    padding: 10px 13px;
  }
}
.main-nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  width: auto;
  font-weight: 300;
  @media #{$tablet} {
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      background-color: #fdc426;
      transition: width 0.3s ease;
    }
  }
}
.main-nav__link:hover::after {
  width: 100%;
}
