.portfolio-wrap {
  position: relative;
  background-color: #efefef;
  & svg {
    width: 100%;
    height: 70px;
    display: block;
    fill: #efefef;
    position: absolute;
    top: -69.3px;
  }
}
.portfolio {
  @include container;
  box-sizing: border-box;
  padding: 50px 20px;
  @media #{$tablet} {
    padding: 50px 60px;
  }
}
.portfolio__search-list {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  & span {
    color: #bab9b9;
  }
  @media #{$big-mobile} {
    padding-bottom: 20px;
  }
  @media #{$tablet} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
  }
  @media #{$desktop} {
    width: 60%;
  }
  @media #{$big-desktop} {
    width: 50%;
  }
}
.portfolio__search-link {
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin:0 15px 0 7px;
  transition: 0.2s ease;
  &:hover {
    color: #fdc426;
  }
}
.portfolio__blocks {
  display: flex;
  flex-direction: column;
  @media #{$big-mobile} {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media #{$tablet} {
    padding: 0 60px;
  }
  @media #{$desktop} {
    padding: 0;
  }
}
.portfolio__block {
  width: auto;
  position: relative;
  margin-bottom: 20px;
  &:hover .portfolio__discription {
    display: block;
  }
  &:hover .portfolio__link {
    opacity: 1;
  }
  @media #{$big-mobile} {
    width: 100%;
  }
  @media #{$tablet} {
    width: 46%;
    margin: auto;
    margin-bottom: 30px;
    height: 150px;
  }
  @media #{$desktop} {
    width: 32%;
    margin-bottom: 50px;
  }
  @media #{$big-desktop} {
    margin-bottom: 90px;
  }
}
.portfolio__discription {
  padding: 0;
  display: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: #000;
  margin: 0;
  position: absolute;
  bottom: 8px;
  background-color: #fff;
  padding: 0 10px;
  @media #{$mobile-only} {
    display: block;
  }
  @media #{$tablet} {
    bottom: 1px;
  }
  @media #{$desktop} {
    bottom: -25px;
  }
  @media #{$big-desktop} {
    bottom: -71px;
  }
}
.portfolio__link {
  display: block;
  opacity: 0.3;
  transition: 0.3s ease;
  @media #{$mobile-only} {
    opacity: 1;
  }
}
.portfolio__img {
  width: 100%;
}
