.social {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 30px;
  @media #{$tablet} {
    width: 50%;
    margin: auto;
    padding-top: 50px;
  }
}
.social__link {
  display: block;
  font-size: 0;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #585757;
  position: relative;
  @media #{$tablet} {
    width: 45px;
    height: 45px;
  }
  & svg {
    position: absolute;
    top: 8px;
    left: 7.5px;
    width: 20px;
    height: 20px;
    display: block;
    fill: #fff;
    @media #{$tablet} {
      top: 13px;
      left: 12px;
    }
  }
  transition: 0.3s ease;
  &:hover {
    background-color: #d34836;
    border: 1px solid #d34836;
  }
}
