.user-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media #{$tablet} {
    width: 40%;
  }
  @media #{$big-desktop} {
    width: 30%;
  }
}
.user-contact__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  margin-bottom: 20px;
  @media #{$tablet} {
    margin-bottom: 50px;
  }
  & img {
    padding-right: 15px;
    height: 80px;
    width: 80px;
  }
}
.user-contact__name-title {
  margin-top: 10px;
  margin-bottom: 0;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.user-contact__career {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
}
.user-contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media #{$tablet} {
    margin-bottom: auto;
  }
}
.user-contact__item {
  padding: 0;
  text-decoration: none;
  margin-bottom: 20px;
}
.user-contact__btn {
  margin-bottom: 50px;
  @media #{$tablet} {
    margin: 0;
  }
}
